html {
  font-family: "Rufina, serif";
}

#img-pic {
  background-image: url("../images/quick-chat-main4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

#sign-in {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}

#quick-chat {
  display: flex;
  justify-content: center;
}

.dash-main {
  background-image: url("../images/group-chat-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* the height and padding on the disconnect are mobile screen problems */
  height: 100vh;
  position: relative;
}

.dash-mobile {
  background-image: url("../images/group-chat-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* the height and padding on the disconnect are mobile screen problems */
  position: relative;
}

#disconnect-btn {
  height: 5rem;
}
