#img-pic {
  background-image: url("../images/quick-chat-main4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

#sign-in {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}
